body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background: #000;
  color: #fff;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.search input {
  padding: 5px;
  border: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.head {
  font-size: 40px;
  margin: 0;
}

.date {
  color: #000;
  padding: 5px 20px;
  font-size: 14px;
  margin: 0;
  border-radius: 5px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.main-story {
  background-image: url("./assets/Israel_UAE.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.main-story h1 {
  font-size: 28px;
  margin: 0 0 10px;
}

.main-story p {
  font-size: 16px;
  margin: 0 0 10px;
}

.side-stories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.story {
  background-image: url("./assets/borders.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.at1 {
    background-image: url("./assets/syringe.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
  }

.at2 {
  background-image: url("./assets/online.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.at3 {
  background-image: url("./assets/singer.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.story h2 {
  font-size: 16px;
  margin: 0 0 5px;
}

.category {
    color:#A9A9A9; 
    font-size: 12px;
    font-weight: 700;
    border-left: 2px solid red;
    padding-left: 10px;
  }
  
.category2 {
  color:#c0c0c0; 
  font-weight: 700;
  font-size: 12px;
  border-left: 2px solid blue;
  padding-left: 10px;
}

.news {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.head-2 p {
  display: flex;
  color:#c0c0c0; 
  font-size: 16px;
  border-left: 2px solid red;
  padding-left: 10px;
}

.news-story img {
  width: 100%;
  height: 50%;
  background-size: contain;
}
.news-story h2 {
  font-size: 16px;
  margin: 0 0 5px;
}

.news-story p {
  font-size: 14px;
  margin: 0 0 5px;
  color:#696969;
}
